/* colors and fonts */

body{
	background-color:lightpink;
	color:deeppink;
	font-family: monospace;
	font-size: 40;
	letter-spacing: 10;
}
h1{
	color:hotpink;
	font-family: fantasy;
	font-size: 50px;
	font-weight: 200;
letter-spacing: 5px;}



	h2{color: mistyrose;
		background-color: hotpink;
		font-family: serif;
		font-style: italic;
		font-size: 45px  }
		p{font-size: 30px;

	a{text-decoration:none;
		color: royalblue;
	}

	  	
/* Custom design wth class */

.container{
	width: 700px;
	margin: 40px auto; 
}

.btn-pink:hover{
	background-color: black;
	color: white-space: ;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
